<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="host" value="http://10.3.60.3:8031" />
    <add key="ogrn" value="1022601993468" />
    <add key="kpp" value="263401001" />
    <add key="savepath" value="ss_xml" />
    <add key="certsubj" value="Ставропольский ГАУ" />
    -->
    <add key="host" value="http://10.122.43.221:8031" />
    <add key="ogrn" value="1129847034570" />
    <add key="kpp" value="784001001" />
    <add key="savepath" value="C:\ss_xml\" />
    <add key="certsubj" value="СПБГЭУ" />
  </appSettings>
</configuration>